{% extends 'paws/menu.html'%}
{%block content %}
    {% if all_paws %}
     <ul>
     {%  for paw in all_paws %}
     <li>
        Title : {{ paw.title}} <br/> <small> Author by: {{paw.fromUserId}}</small><br/>
        Content : {{paw.content}} <br/>
        <strong>Number of Claps:</strong> {{paw.number_of_likes}}
        <form action= " {% url 'index' %}" method="POST">
            {%csrf_token%}
            <input type="hidden" name="paws_id" value={{paw.id}}>
            <input type="text" placeholder="Your Comment ..." name="comment" >
            <input type="submit" class="btn btn-outline-primary" name="comment_btn" value="Comment">
            {%if all_follows%}
            {% if paw.id in followed%}
                <input type="submit" class="btn btn-dark" name="unfollow_btn" value="UnFollow">
            {%else%}
                <input type="submit" class="btn btn-warning" name="follow_btn" value="Follow-Up">
                {%endif%}
            {%else%}
            <input type="submit" class="btn btn-warning" name="follow_btn" value="Follow-Up">
            {%endif%}
            <input type="submit" class="btn btn-info" name="like_btn" value="Claps">
        </form>
        <strong> Comment :</strong><br/>
        {% for comment in all_comments%}
            {% if comment.toPawsId.id == paw.id%}
               <strong>{{comment.fromUserId}} : </strong> 
                {{comment.comment_content}} <br/>
            {%endif%}
        {%endfor%}
     </li>
     {%endfor %}
    </ul>
{%else%}
    <p> There is no Paws</p>
{%endif%}
{%endblock%}