{% extends 'paws/menu.html'%}
{%block content %}
    {% if paws %}
     <ul>
     {%  for paw in paws %}
     <li>
        Title : {{ paw.title}} 
        <br/> 
        <small> Author by: {{paw.fromUserId}}</small><br/>
        Content : {{paw.content}} <br/>
        <strong>Number of Likes :</strong> {{paw.number_of_likes}}
        <form action= " {% url 'comment' paw.id %}" method="POST">
            {%csrf_token%}
            <input type="text" placeholder="Your Comment ..." name="comment" >
            <button type="submit" class="btn btn-outline-primary">Comment</button>
        </form>
        {% if all_comments %}
        <strong> Comment :</strong><br/>
        {% for comment in all_comments%}
            {% if comment.toPawsId.id == paw.id%}
               <strong>{{comment.fromUserId}} : </strong> 
                {{comment.comment_content}} <br/>
            {%endif%}
        {%endfor%}
        {% endif%}
        <form action=" {% url 'removePaws' paw.id %} " method="POST">
            {%csrf_token%}
        <input type="submit" class="btn btn-danger" value='Remove This Paws'>
        </form>
     </li>
     {%endfor %}
    </ul>
{%else%}
    <p> There is no Paws</p>
{%endif%}
{%endblock%}